@model IEnumerable<Crud2020.Models.User>

<br /><br/>
@using(Html.BeginForm("Index","FastSearch",FormMethod.Get))
{
    @Html.TextBox("searching")<input type="submit" value="Search"  />
}
<table class="table table-striped">
       <thead>
           <tr>
               <th>Userid</th>
               <th>UserName</th>
               <th>Email</th>
               <th>Telefono</th>

           </tr>
       </thead>
    </table>
<tbody>
    @foreach(var items in Model)
        {
<tr>
    <td>@items.Userid</td>
    <td>@items.UserName</td>
    <td>@items.Email</td>
    <td>@items.Telefono</td>
</tr>
        }
    }
</tbody>